[submodule "xmonad/xmonad-git"]
	path = xmonad/xmonad-git
	url = https://github.com/xmonad/xmonad
[submodule "xmonad/xmonad-contrib-git"]
	path = xmonad/xmonad-contrib-git
	url = https://github.com/xmonad/xmonad-contrib
[submodule "xmonad/xmobar-git"]
	path = xmonad/xmobar-git
	url = https://github.com/jaor/xmobar
